.forums-section {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 10;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.forums-section:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.forums-section h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: var(--gutter);
  color: #EAEFEF;
  padding: 0 var(--gutter);
}

.forum-links {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  width: 100%;
  padding: 0 var(--gutter);
  box-sizing: border-box;
}

.forum-link {
  text-decoration: none;
  font-weight: bold;
  color: #EAEFEF;
  border: 0px transparent;
  padding: calc(var(--gutter) * 0.75) var(--gutter);
  /*border-radius: 10px;*/
  transition: all 0.3s ease;
  background-color: #333446;
  width: 100%;
  display: block;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.forum-link:hover {
  background-color: #7F8CAA;
  color: white;
  transform: scale(1.05);
}
